/* color picker core css */

.color-picker-input {
    background-image: url('color-swatch.png');
    background-repeat: no-repeat;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    text-indent: -999em;
    padding: 0;
    border: 1px solid #ccc;
}

.color-picker-input.open,
.color-picker-input:focus {
    border-color: #0070cc;
    box-shadow: 0 0 5px #c00;
}

.color-picker-chooser {
    background: #fff;
    padding: 1px;
    list-style: none;
    position: absolute;
    z-index: 1000;
    border-color: #999;
    margin: 0;
    border-style: solid;
}

.color-picker-chooser li {
    float: left;
    cursor: pointer;
    border-style: solid;
    border-color: #fff;
}

.color-picker-chooser li.selected,
.color-picker-chooser li:hover,
.color-picker-chooser li:focus {
    border-color: #fff;
    outline: none;
    -webkit-transform: scale(1.3);
}
