h3.lc_section {
  cursor: pointer;
}

h3.lc_section span {
    font-weight: normal;
}

h3.lc_section.collapsed:after {
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    margin-left: 8px;
    line-height: 32px;
    color: darkgray;
    content: "\f0ab";
}

h3.lc_section:after {
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    margin-left: 8px;
    line-height: 32px;
    color: dimgray;
    content: "\f0a9";
}
